---
import DropdownItem from "./DropdownItem.astro";

import TempDropdown from "./Dropdown.astro";

import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

function sortGlob(glob: Record<string, any>[]) {
  return glob.sort(
    (a, b) => (b.frontmatter.priority || 0) - (a.frontmatter.priority || 0)
  );
}

const content = {
  appendices: await Astro.glob("/src/pages/appendices/*"),
  classes: await Astro.glob("/src/pages/classes/*"),
  gming: await Astro.glob("/src/pages/gming/*"),
  monsters: await Astro.glob("/src/pages/monsters/*"),
  playing: await Astro.glob("/src/pages/playing/*"),
  spells: await Astro.glob("/src/pages/spells/*"),
};

Object.values(content).map((c) => sortGlob(c));
---

<header class="nav:flex p-5 gap-5">
  <Astronav closeOnClick>
    <div class="flex w-full nav:w-auto justify-between">
      <a href="/">Dungeon World</a>
      <div class="block nav:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden nav:flex">
      <ul class="flex flex-col nav:flex-row nav:gap-5 no-list-style">
        <li>
          <TempDropdown class="group">
            <span slot="title">Playing&nbsp;</span>
            {
              content.playing.map((c) => (
                <DropdownItem href={c.url}>{c.frontmatter.title}</DropdownItem>
              ))
            }
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Classes&nbsp;</span>
            {
              content.classes.map((c) => (
                <DropdownItem href={c.url}>{c.frontmatter.title}</DropdownItem>
              ))
            }
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">GMing&nbsp;</span>
            {
              content.gming.map((c) => (
                <DropdownItem href={c.url}>{c.frontmatter.title}</DropdownItem>
              ))
            }
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Monsters&nbsp;</span>
            {
              content.monsters.map((c) => (
                <DropdownItem href={c.url}>{c.frontmatter.title}</DropdownItem>
              ))
            }
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Spell Lists&nbsp;</span>
            {
              content.spells.map((c) => (
                <DropdownItem href={c.url}>{c.frontmatter.title}</DropdownItem>
              ))
            }
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Appendices&nbsp;</span>
            {
              content.appendices.map((c) => (
                <DropdownItem href={c.url}>{c.frontmatter.title}</DropdownItem>
              ))
            }
          </TempDropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
